.App {
  min-height: 100vh;
  background: #c6bcdb;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(161, 161, 161);
  border: 2px solid blacknone;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-wrapper {
  width: 100%;
}

.content-wrapper img {
  width: 100%;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.text-wrapper h1 {
  text-align: center;
  font-size: 4vw;
  font-family: cursive;
}

.App-header {
  background-color: #2c3e50;
  height: 90px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  text-align: center;
}